<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carattere&family=Poppins&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/about.css" />

    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>YelpCamp | About</title>
</head>

<body>
    <div class="about">
        <!-- ------------------------------------ -->
        <div class="upper">
            <div class="logo">
                <img src="/img/logo.gif" alt="" id="logo" />
                <div class="image">
                    <div class="camp">
                        <img src="/img/tent.png" alt="" id="tent" />
                        <img src="/img/fire.gif" alt="" id="fire" />
                    </div>
                </div>
            </div>
            <div class="info">
                <h1>ABOUT <i class="fas fa-fire-alt" style="color: #e85d04;"></i> <span class="yelp">YELPCAMP</span>
                </h1>
                <p>
                    Yelp Camp is a web application that allows you to view campgrounds with a short description. Once
                    you login or signup you can begin to create your own campgrounds that includes a title, image
                    address and short description.
                    Explore the beautiful world through our website
                </p>
            </div>
        </div>
        <!-- ------------------------------------ -->
        <div class="lower">
            <div class="info">
                <h1>ABOUT OUR <span class="yelp">TEAM</span></h1>
                <p>
                    Our skilled and zealous team constantly works hard to make your experience simple, smooth and delightful.
                    We are looking forward to make your experience the best, so we would appreciate if you reach out to our team with your suggestions
                </p>
            </div>
            <div class="slider">
                <img src="/img/camp1.png" alt="" id="slider" />
            </div>
        </div>
        <!-- ------------------------------------ -->
    </div>

    <script src="/js/about.js"></script>
    <footer>
        <div class="content">
            <div class="top">
                <div class="logo-details">
                    <i class="fas fa-fire-alt" style="color: #e85d04;"></i>
                    <span class="logo_name">YelpCamp</span>
                </div>
                <div class="media-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="link-boxes">
                <ul class="box">
                    <li class="link_name">Company</li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/c">Categories</a></li>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/campgrounds">Get started</a></li>
                </ul>
                <ul class="box">
                    <li class="link_name">Services</li>
                    <li><a href="/campgrounds">All Campgrounds</a></li>
                    <li><a href="/campgrounds/new">New Campground</a></li>
                    <li><a href="/c">Categories</a></li>
                </ul>
                <ul class="box">
                    <li class="link_name">Account</li>
                    <li><a href="/login">Sign-in</a></li>
                    <li><a href="/register">Join Free</a></li>
                </ul>
                <ul class="box">
                    <li class="link_name">Top Categories</li>
                    <li><a href="/c/61554bfe801949ad7b9be4ff">Tent Camping</a></li>
                    <li><a href="/c/61554c2753bcf306407cb1bd">RV and Van Camping</a></li>
                    <li><a href="/c/61554c43d2a6b15f764aff36">Canoe Camping</a></li>
                    <li><a href="c/61554c63dfd6a37d71449b5c">Survivalist camping</a></li>
                </ul>
                <ul class="box input-box">
                    <li class="link_name">About Yelpcamp</li>
                    <li style="color: white;">
                        YelpCamp is a website where users can create and review campground.In order to review or create
                        a campground, you must have an account.
                    </li>
                </ul>
            </div>
        </div>
        <div class="bottom-details">
            <div class="bottom_text">
                <span class="copyright_text">Copyright © 2021 <a href="/">Yelpcamp</a>All rights reserved</span>
                <span class="policy_terms">
                    <a href="#">Privacy policy</a>
                    <a href="#">Terms & condition</a>
                </span>
            </div>
        </div>
    </footer>
</body>


</html>