<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campground Show</title>
    
</head>
<body>
    <h1><%= campground.title %></h1>
    <h2><%= campground.location %></h2>
    <a href="/campgrounds">All Campgrounds</a>
    <a href="/campgrounds/<%= campground._id %>/edit">Edit Campground</a>
    <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
        <button>Delete Campground</button>
    </form>
</body>
</html>