<% layout('layout/boilerplate.ejs') %>
    <h1>Login</h1>

    <form action="/login" method="POST" class="validated-form" novalidate>
        <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" name="username" id="username" placeholder="Username" required>
            <div class="valid-feedback">
                looks good!
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="Password">Password</label>
            <input class="form-control" type="password" name="password" id="password" placeholder="Password"
                required>
            <div class="valid-feedback">
                looks good!
            </div>
        </div>
        <div class="mb-3">
            <button class="btn btn-dark">Login</button>
        </div>
    </form>
